In [1]:
# Import api_keys from config.py
from config import api_key_1
from config import api_key_2

# Import pandas for dataframe
import pandas as pd

# Import json, requests, and pprint
import json
import requests
from pprint import pprint

In [2]:
# Define release years to be found (past 5 years)
release_year = ["2015", "2016", "2017", "2018", "2019"]

In [3]:
# Define lists for saving data (from initial api call)
movie_title = []
movie_id = []
release_date = []
tmdb_vote_average = []
tmdb_vote_count = []

# Define lists (from details api call)
tmdb_revenue = []
tmdb_budget = []

# Lists to store data when going through the loop
g = []
g_id = []
prod_comp = []

# Lists to hold the above lists that will be appended after each loop
genres = []
genres_id = []
production_companies = []

In [4]:
# TEST API RESPONSE
#tmdb_url = f"https://api.themoviedb.org/3/discover/movie?primary_release_year={2019}&api_key={api_key_1}&sort_by=revenue.desc"
    
    # Get the json response for the initial query
#tmdb_response = requests.get(tmdb_url).json()

#pprint(tmdb_response)

## The Movie Database:

In [5]:
# Iterate through designated release years
for year in release_year:

    # Define TMDb url: Using discover (by release year and sort by revenue: descending)
    tmdb_url = f"https://api.themoviedb.org/3/discover/movie?primary_release_year={year}&api_key={api_key_1}&sort_by=revenue.desc"
    
    # Get the json response for the initial query
    tmdb_response = requests.get(tmdb_url).json()
    
    # Iterate through json response 20 times to get the top 20 movies
    # movie = index of list
    for movie in range(0, 20):
    
        # Get results and store in a variable
        m_title = tmdb_response["results"][movie]["title"]
        m_id = tmdb_response["results"][movie]["id"]
        m_release = tmdb_response["results"][movie]["release_date"]
        vote_average = tmdb_response["results"][movie]["vote_average"]
        vote_count = tmdb_response["results"][movie]["vote_count"]
        
        if vote_count == 0:
            print(f"{m_title} doesn't have user votes.")
        else:     
            # Append vote average and vote count to lists
            tmdb_vote_average.append(vote_average)
            tmdb_vote_count.append(vote_count)
    
            # Append the movie title, movie ID, and release date to the created lists
            movie_title.append(m_title)
            movie_id.append(m_id)
            release_date.append(m_release)
            
# For loop to take each movie ID and get more details about each movie    
for movie in range(len(movie_id)):
    
    # Take the movie ID's from above, and append to the url to get more details
    tmdb_details_url = f"https://api.themoviedb.org/3/movie/{movie_id[movie]}?api_key={api_key_1}"
    
    # Get the details json response for each individual movie
    tmdb_details_response = requests.get(tmdb_details_url).json()
        
    # Append revenue and budget to lists 
    tmdb_revenue.append(tmdb_details_response["revenue"])
    tmdb_budget.append(tmdb_details_response["budget"])
        
    # For loop to get production companies
    for company in range(len(tmdb_details_response["production_companies"])):
                
        # Store results in a variable
        prod_comp.append(tmdb_details_response["production_companies"][company]["name"])
                
    # Append variables to lists
    production_companies.append(prod_comp)
    prod_comp = []
        
    # For loop to get genres
    for genre in range(len(tmdb_details_response["genres"])):
                
        # Store results in a variable
        g.append(tmdb_details_response["genres"][genre]["name"])
        g_id.append(tmdb_details_response["genres"][genre]["id"])
                
    # Append variables to lists
    genres.append(g)
    genres_id.append(g_id)
    g = []
    g_id = []

In The Mood For Surrealism or 8021 doesn't have user votes.

In [6]:
# Test to make sure genres is a list of lists
#print(genres)

In [7]:
# Test the length of each list
print(len(movie_title))
print(len(movie_id))
print(len(release_date))
print(len(tmdb_vote_count))
print(len(tmdb_vote_average))
print(len(tmdb_budget))
print(len(tmdb_revenue))
print(len(genres))
print(len(genres_id))
print(len(production_companies))

99
99
99
99
99
99
99
99
99
99

In [8]:
# Create initial TMDb DataFrame
tmdb_df_rough = pd.DataFrame({
    "Title": movie_title,
    "ID": movie_id,
    "Release Date": release_date,
    "TMDb Score": tmdb_vote_average,
    "TMDb Vote Count": tmdb_vote_count,
    "Revenue": tmdb_revenue,
    "Budget": tmdb_budget,
    "Genres": genres,
    "Genres ID": genres_id,
    "Production Companies": production_companies
})

tmdb_df_rough

,Title,ID,Release Date,TMDb Score,TMDb Vote Count,Revenue,Budget,Genres,Genres ID,Production Companies
0,Star Wars: The Force Awakens,140607,2015-12-15,7.4,15728,2068223624,245000000,"[Action, Adventure, Science Fiction, Fantasy]","[28, 12, 878, 14]","[Lucasfilm Ltd., Bad Robot]"
1,Jurassic World,135397,2015-06-06,6.7,16741,1671713208,150000000,"[Action, Adventure, Science Fiction, Thriller]","[28, 12, 878, 53]","[Amblin Entertainment, Legendary Pictures, Uni..."
2,Furious 7,168259,2015-04-01,7.3,8279,1515047671,190000000,"[Action, Thriller]","[28, 53]","[Abu Dhabi Film Commission, Universal Pictures..."
3,Avengers: Age of Ultron,99861,2015-04-22,7.3,17780,1405403694,250000000,"[Action, Adventure, Science Fiction]","[28, 12, 878]",[Marvel Studios]
4,Minions,211672,2015-06-17,6.4,8645,1156730962,74000000,"[Family, Animation, Adventure, Comedy]","[10751, 16, 12, 35]","[Illumination Entertainment, Universal Pictures]"
...,...,...,...,...,...,...,...,...,...,...
94,It Chapter Two,474350,2019-09-04,6.9,5871,473093228,79000000,"[Horror, Fantasy]","[27, 14]","[Lin Pictures, New Line Cinema, Vertigo Entert..."
95,Pokémon Detective Pikachu,447404,2019-05-03,7.0,4843,433005346,150000000,"[Action, Adventure, Fantasy]","[28, 12, 14]","[Warner Bros. Pictures, Legendary Pictures, Th..."
96,Alita: Battle Angel,399579,2019-01-31,7.2,6499,404852543,170000000,"[Action, Science Fiction, Adventure]","[28, 878, 12]","[Troublemaker Studios, Lightstorm Entertainmen..."
97,Godzilla: King of the Monsters,373571,2019-05-29,6.7,4033,386600138,170000000,"[Science Fiction, Action]","[878, 28]","[Legendary Pictures, Warner Bros. Pictures, Hu..."
98,1917,530915,2019-12-25,7.9,8035,374733942,100000000,"[War, Drama, Action, Thriller]","[10752, 18, 28, 53]","[Universal Pictures, DreamWorks Pictures, Reli..."

In [9]:
# Convert release date to datetime -- to extract month and year
tmdb_df_rough["Release Date"] = pd.to_datetime(tmdb_df_rough["Release Date"])
tmdb_df_rough["Release Year"], tmdb_df_rough["Release Month"] = tmdb_df_rough["Release Date"].dt.year, tmdb_df_rough["Release Date"].dt.month

tmdb_df_rough

,Title,ID,Release Date,TMDb Score,TMDb Vote Count,Revenue,Budget,Genres,Genres ID,Production Companies,Release Year,Release Month
0,Star Wars: The Force Awakens,140607,2015-12-15,7.4,15728,2068223624,245000000,"[Action, Adventure, Science Fiction, Fantasy]","[28, 12, 878, 14]","[Lucasfilm Ltd., Bad Robot]",2015,12
1,Jurassic World,135397,2015-06-06,6.7,16741,1671713208,150000000,"[Action, Adventure, Science Fiction, Thriller]","[28, 12, 878, 53]","[Amblin Entertainment, Legendary Pictures, Uni...",2015,6
2,Furious 7,168259,2015-04-01,7.3,8279,1515047671,190000000,"[Action, Thriller]","[28, 53]","[Abu Dhabi Film Commission, Universal Pictures...",2015,4
3,Avengers: Age of Ultron,99861,2015-04-22,7.3,17780,1405403694,250000000,"[Action, Adventure, Science Fiction]","[28, 12, 878]",[Marvel Studios],2015,4
4,Minions,211672,2015-06-17,6.4,8645,1156730962,74000000,"[Family, Animation, Adventure, Comedy]","[10751, 16, 12, 35]","[Illumination Entertainment, Universal Pictures]",2015,6
...,...,...,...,...,...,...,...,...,...,...,...,...
94,It Chapter Two,474350,2019-09-04,6.9,5871,473093228,79000000,"[Horror, Fantasy]","[27, 14]","[Lin Pictures, New Line Cinema, Vertigo Entert...",2019,9
95,Pokémon Detective Pikachu,447404,2019-05-03,7.0,4843,433005346,150000000,"[Action, Adventure, Fantasy]","[28, 12, 14]","[Warner Bros. Pictures, Legendary Pictures, Th...",2019,5
96,Alita: Battle Angel,399579,2019-01-31,7.2,6499,404852543,170000000,"[Action, Science Fiction, Adventure]","[28, 878, 12]","[Troublemaker Studios, Lightstorm Entertainmen...",2019,1
97,Godzilla: King of the Monsters,373571,2019-05-29,6.7,4033,386600138,170000000,"[Science Fiction, Action]","[878, 28]","[Legendary Pictures, Warner Bros. Pictures, Hu...",2019,5
98,1917,530915,2019-12-25,7.9,8035,374733942,100000000,"[War, Drama, Action, Thriller]","[10752, 18, 28, 53]","[Universal Pictures, DreamWorks Pictures, Reli...",2019,12

In [10]:
# Create release year list to fix OMDb bug
year = tmdb_df_rough["Release Year"]

movie_titles = tmdb_df_rough["Title"]

movie_title_split = movie_titles.str.split(": ")
movie_title_split_df = pd.DataFrame(movie_title_split)

movie_title_split_df[["Title1", "Title2"]] = pd.DataFrame(movie_title_split_df["Title"].to_list(), index = movie_title_split_df.index)

movie_title_split = movie_title_split_df["Title1"]
movie_title_split

0                     Star Wars
1                Jurassic World
2                     Furious 7
3                      Avengers
4                       Minions
                ...
94               It Chapter Two
95    Pokémon Detective Pikachu
96                        Alita
97                     Godzilla
98                         1917
Name: Title1, Length: 99, dtype: object

In [11]:
# Split up Genres into 6 separate columns
tmdb_df_rough[["Genre_1", "Genre_2", "Genre_3", "Genre_4", "Genre_5", "Genre_6"]] = pd.DataFrame(tmdb_df_rough["Genres"].to_list(), index = tmdb_df_rough.index)
tmdb_df_rough

,Title,ID,Release Date,TMDb Score,TMDb Vote Count,Revenue,Budget,Genres,Genres ID,Production Companies,Release Year,Release Month,Genre_1,Genre_2,Genre_3,Genre_4,Genre_5,Genre_6
0,Star Wars: The Force Awakens,140607,2015-12-15,7.4,15728,2068223624,245000000,"[Action, Adventure, Science Fiction, Fantasy]","[28, 12, 878, 14]","[Lucasfilm Ltd., Bad Robot]",2015,12,Action,Adventure,Science Fiction,Fantasy,None,None
1,Jurassic World,135397,2015-06-06,6.7,16741,1671713208,150000000,"[Action, Adventure, Science Fiction, Thriller]","[28, 12, 878, 53]","[Amblin Entertainment, Legendary Pictures, Uni...",2015,6,Action,Adventure,Science Fiction,Thriller,None,None
2,Furious 7,168259,2015-04-01,7.3,8279,1515047671,190000000,"[Action, Thriller]","[28, 53]","[Abu Dhabi Film Commission, Universal Pictures...",2015,4,Action,Thriller,None,None,None,None
3,Avengers: Age of Ultron,99861,2015-04-22,7.3,17780,1405403694,250000000,"[Action, Adventure, Science Fiction]","[28, 12, 878]",[Marvel Studios],2015,4,Action,Adventure,Science Fiction,None,None,None
4,Minions,211672,2015-06-17,6.4,8645,1156730962,74000000,"[Family, Animation, Adventure, Comedy]","[10751, 16, 12, 35]","[Illumination Entertainment, Universal Pictures]",2015,6,Family,Animation,Adventure,Comedy,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,It Chapter Two,474350,2019-09-04,6.9,5871,473093228,79000000,"[Horror, Fantasy]","[27, 14]","[Lin Pictures, New Line Cinema, Vertigo Entert...",2019,9,Horror,Fantasy,None,None,None,None
95,Pokémon Detective Pikachu,447404,2019-05-03,7.0,4843,433005346,150000000,"[Action, Adventure, Fantasy]","[28, 12, 14]","[Warner Bros. Pictures, Legendary Pictures, Th...",2019,5,Action,Adventure,Fantasy,None,None,None
96,Alita: Battle Angel,399579,2019-01-31,7.2,6499,404852543,170000000,"[Action, Science Fiction, Adventure]","[28, 878, 12]","[Troublemaker Studios, Lightstorm Entertainmen...",2019,1,Action,Science Fiction,Adventure,None,None,None
97,Godzilla: King of the Monsters,373571,2019-05-29,6.7,4033,386600138,170000000,"[Science Fiction, Action]","[878, 28]","[Legendary Pictures, Warner Bros. Pictures, Hu...",2019,5,Science Fiction,Action,None,None,None,None
98,1917,530915,2019-12-25,7.9,8035,374733942,100000000,"[War, Drama, Action, Thriller]","[10752, 18, 28, 53]","[Universal Pictures, DreamWorks Pictures, Reli...",2019,12,War,Drama,Action,Thriller,None,None

## Official Movie Database (OMDb):

In [16]:
# Define lists for results
omdb_titles = []
dom_box_office = []
imdb_rating = []
rotten_tomatoes = []
metacritic_rating = []
omdb_awards = []

In [17]:
# Iterate through movie title list to get results from OMDb
# movie = index
for movie in range(len(movie_title)):
    
    # Define OMDb url
    omdb_url = f"http://www.omdbapi.com/?apikey={api_key_2}&t={movie_title[movie]}&y={year[movie]}"

    # Get json response for the query
    omdb_response = requests.get(omdb_url).json()
    
    try:
        # Get results and put them in variables
        titles = omdb_response["Title"]
        box_office = omdb_response["BoxOffice"]
        imdb = omdb_response["imdbRating"]
        r_tom = omdb_response["Ratings"][1]["Value"]
        metacritic = omdb_response["Metascore"]
        awards = omdb_response["Awards"]
    
        # Append results to lists
        omdb_titles.append(titles)
        dom_box_office.append(box_office)
        imdb_rating.append(imdb)
        rotten_tomatoes.append(r_tom)
        metacritic_rating.append(metacritic)
        omdb_awards.append(awards)
    
    # If an error is thrown:
    except IndexError:
        print(f"A result does not exist for {movie_title[movie]}. Attempting to fix.")
        
        if IndexError:
            try:
                 # Define OMDb url
                omdb_url = f"http://www.omdbapi.com/?apikey={api_key_2}&t={movie_title_split[movie]}"
                # Get json response for the query
                omdb_response = requests.get(omdb_url).json()
            
                 # Get results and put them in variables
                titles = omdb_response["Title"]
                box_office = omdb_response["BoxOffice"]
                imdb = omdb_response["imdbRating"]
                r_tom = omdb_response["Ratings"][1]["Value"]
                metacritic = omdb_response["Metascore"]
                awards = omdb_response["Awards"]
    
                # Append results to lists
                omdb_titles.append(titles)
                dom_box_office.append(box_office)
                imdb_rating.append(imdb)
                rotten_tomatoes.append(r_tom)
                metacritic_rating.append(metacritic)
                omdb_awards.append(awards)
                
                print("Fixed! Appending results.")
                
            except IndexError:
                print("Unable to fix.")
            
        
    except KeyError:
        print(f"A result does not exist for {movie_title[movie]}. Attempting to fix.")
        
        if KeyError:
            try:
                 # Define OMDb url
                omdb_url = f"http://www.omdbapi.com/?apikey={api_key_2}&t={movie_title_split[movie]}&y={year[movie]}"
                # Get json response for the query
                omdb_response = requests.get(omdb_url).json()
            
                 # Get results and put them in variables
                titles = omdb_response["Title"]
                box_office = omdb_response["BoxOffice"]
                imdb = omdb_response["imdbRating"]
                r_tom = omdb_response["Ratings"][1]["Value"]
                metacritic = omdb_response["Metascore"]
                awards = omdb_response["Awards"]
    
                # Append results to lists
                omdb_titles.append(titles)
                dom_box_office.append(box_office)
                imdb_rating.append(imdb)
                rotten_tomatoes.append(r_tom)
                metacritic_rating.append(metacritic)
                omdb_awards.append(awards)
                
                print("Fixed! Appending results.")
    
            except KeyError:
                print("Unable to fix.")

A result does not exist for Star Wars: The Force Awakens. Attempting to fix.
Fixed! Appending results.
A result does not exist for The Mermaid. Attempting to fix.
Unable to fix.
A result does not exist for Star Wars: The Last Jedi. Attempting to fix.
Fixed! Appending results.
A result does not exist for Star Wars: The Rise of Skywalker. Attempting to fix.
Fixed! Appending results.
A result does not exist for Fast & Furious Presents: Hobbs & Shaw. Attempting to fix.
Fixed! Appending results.
A result does not exist for Alha Sahma. Attempting to fix.
Unable to fix.

In [18]:
# Create initial OMDb DataFrame
omdb_df_rough = pd.DataFrame({
    "Title": omdb_titles,
    "Box Office": dom_box_office,
    "IMDb": imdb_rating,
    "Rotten Tomatoes": rotten_tomatoes,
    "Metascore": metacritic_rating,
    "Awards": omdb_awards
})
omdb_df_rough["Rotten Tomatoes"] = omdb_df_rough["Rotten Tomatoes"].replace("%", "", regex=True).astype(float)
omdb_df_rough["Box Office"] = omdb_df_rough["Box Office"].replace(["\$", ","],["", ""], regex=True).astype(int)
omdb_df_rough

,Title,Box Office,IMDb,Rotten Tomatoes,Metascore,Awards
0,Star Wars: Episode IV - A New Hope,460998507,8.6,92.0,90,Won 6 Oscars. Another 57 wins & 29 nominations.
1,Jurassic World,652385625,7.0,70.0,59,15 wins & 58 nominations.
2,Furious 7,353007020,7.1,82.0,67,Nominated for 1 Golden Globe. Another 35 wins ...
3,Avengers: Age of Ultron,459005868,7.3,75.0,66,8 wins & 49 nominations.
4,Minions,336045770,6.4,55.0,56,Nominated for 1 BAFTA Film Award. Another 4 wi...
...,...,...,...,...,...,...
92,It Chapter Two,211593228,6.5,62.0,58,5 wins & 30 nominations.
93,Pokémon Detective Pikachu,144105346,6.6,67.0,53,9 nominations.
94,Alita: Battle Angel,85838210,7.3,61.0,53,10 wins & 24 nominations.
95,Godzilla: King of the Monsters,110500138,6.0,42.0,48,6 wins & 14 nominations.
96,1917,159227644,8.3,89.0,78,Won 3 Oscars. Another 128 wins & 200 nominations.

In [19]:
# Export rough csv's to Output Files folder: (needs to be cleaned up next and merged)
tmdb_df_rough.to_csv("Output_Files/TMDb_fixed.csv")
omdb_df_rough.to_csv("Output_Files/OMDb_fixed.csv")