In [14]:
# Import api_keys from config.py
from config import api_key_1
from config import api_key_2

# Import pandas for dataframe
import pandas as pd

# Import json, requests, and pprint
import json
import requests
from pprint import pprint

In [15]:
# Define release years to be found
release_year = ["2015", "2016", "2017", "2018", "2019"]

In [16]:
# Define lists for saving data (from initial api call)
movie_title = []
movie_id = []
release_date = []
tmdb_vote_average = []
tmdb_vote_count = []

# Define lists (from details api call)
tmdb_revenue = []
tmdb_budget = []

g = []
g_id = []
prod_comp = []

genres = []
genres_id = []
production_companies = []

In [17]:
#tmdb_url = f"https://api.themoviedb.org/3/discover/movie?primary_release_year={2019}&api_key={api_key_1}&sort_by=revenue.desc"
    
    # Get the json response for the initial query
#tmdb_response = requests.get(tmdb_url).json()

#pprint(tmdb_response)

## The Movie Database:

In [18]:
# Iterate through designated release years
for year in release_year:

    # Define TMDb url: Using discover (by release year and sort by revenue: descending)
    tmdb_url = f"https://api.themoviedb.org/3/discover/movie?primary_release_year={year}&api_key={api_key_1}&sort_by=revenue.desc"
    
    # Get the json response for the initial query
    tmdb_response = requests.get(tmdb_url).json()
    
    # Iterate through json response 20 times to get the top 25 movies
    # movie = index of list
    for movie in range(0, 20):
    
        # Get results and store in a variable
        m_title = tmdb_response["results"][movie]["title"]
        m_id = tmdb_response["results"][movie]["id"]
        m_release = tmdb_response["results"][movie]["release_date"]
        vote_average = tmdb_response["results"][movie]["vote_average"]
        vote_count = tmdb_response["results"][movie]["vote_count"]
        
        if vote_count == 0:
            print(f"{m_title} doesn't have user votes.")
        else:     
            # Append vote average and vote count to lists
            tmdb_vote_average.append(vote_average)
            tmdb_vote_count.append(vote_count)
    
            # Append the movie title, movie ID, and release date to the created lists
            movie_title.append(m_title)
            movie_id.append(m_id)
            release_date.append(m_release)
        
            # Take the movie ID's from above, and append to the url to get more details
            tmdb_details_url = f"https://api.themoviedb.org/3/movie/{movie_id[movie]}?api_key={api_key_1}"
    
            # Get the details json response for each individual movie
            tmdb_details_response = requests.get(tmdb_details_url).json()
        
            # Save revenue and budget into variables
            revenue = tmdb_details_response["revenue"]
            budget = tmdb_details_response["budget"]
        
            # Append revenue and budget to lists 
            tmdb_revenue.append(revenue)
            tmdb_budget.append(budget)
        
            # For loop to get production companies
            for company in range(len(tmdb_details_response["production_companies"])):
                
                # Store results in a variable
                prod_comp.append(tmdb_details_response["production_companies"][company]["name"])
                
            # Append variables to lists
            production_companies.append(prod_comp)
            prod_comp = []
        
            # For loop to get genres
            for genre in range(len(tmdb_details_response["genres"])):
                
                # Store results in a variable
                g.append(tmdb_details_response["genres"][genre]["name"])
                g_id.append(tmdb_details_response["genres"][genre]["id"])
                
            # Append variables to lists
            genres.append(g)
            genres_id.append(g_id)
            g = []
            g_id = []

In The Mood For Surrealism or 8021 doesn't have user votes.

In [19]:
print(genres)

[['Action', 'Adventure', 'Science Fiction', 'Fantasy'], ['Action', 'Adventure', 'Science Fiction', 'Thriller'], ['Action', 'Thriller'], ['Action', 'Adventure', 'Science Fiction'], ['Family', 'Animation', 'Adventure', 'Comedy'], ['Action', 'Adventure', 'Thriller'], ['Animation', 'Family', 'Adventure', 'Drama', 'Comedy'], ['Action', 'Adventure'], ['Action', 'Adventure', 'Science Fiction'], ['Drama', 'Adventure', 'Science Fiction'], ['Drama', 'Romance', 'Thriller'], ['Romance', 'Fantasy', 'Family', 'Drama'], ['Western', 'Drama', 'Adventure'], ['Science Fiction', 'Action', 'Adventure'], ['Action', 'Drama', 'Thriller'], ['Family', 'Animation', 'Comedy', 'Fantasy'], ['Science Fiction', 'Action', 'Thriller', 'Adventure'], ['Action', 'Adventure', 'Science Fiction'], ['Fantasy', 'Comedy', 'Animation', 'Science Fiction', 'Family'], ['Adventure', 'Animation', 'Family'], ['Action', 'Adventure', 'Science Fiction', 'Fantasy'], ['Action', 'Adventure', 'Science Fiction', 'Thriller'], ['Action', 'Thriller'], ['Action', 'Adventure', 'Science Fiction'], ['Family', 'Animation', 'Adventure', 'Comedy'], ['Action', 'Adventure', 'Thriller'], ['Animation', 'Family', 'Adventure', 'Drama', 'Comedy'], ['Action', 'Adventure'], ['Action', 'Adventure', 'Science Fiction'], ['Drama', 'Adventure', 'Science Fiction'], ['Drama', 'Romance', 'Thriller'], ['Romance', 'Fantasy', 'Family', 'Drama'], ['Western', 'Drama', 'Adventure'], ['Science Fiction', 'Action', 'Adventure'], ['Action', 'Drama', 'Thriller'], ['Family', 'Animation', 'Comedy', 'Fantasy'], ['Science Fiction', 'Action', 'Thriller', 'Adventure'], ['Action', 'Adventure', 'Science Fiction'], ['Fantasy', 'Comedy', 'Animation', 'Science Fiction', 'Family'], ['Adventure', 'Animation', 'Family'], ['Action', 'Adventure', 'Science Fiction', 'Fantasy'], ['Action', 'Adventure', 'Science Fiction', 'Thriller'], ['Action', 'Thriller'], ['Action', 'Adventure', 'Science Fiction'], ['Family', 'Animation', 'Adventure', 'Comedy'], ['Action', 'Adventure', 'Thriller'], ['Animation', 'Family', 'Adventure', 'Drama', 'Comedy'], ['Action', 'Adventure'], ['Action', 'Adventure', 'Science Fiction'], ['Drama', 'Adventure', 'Science Fiction'], ['Drama', 'Romance', 'Thriller'], ['Romance', 'Fantasy', 'Family', 'Drama'], ['Western', 'Drama', 'Adventure'], ['Science Fiction', 'Action', 'Adventure'], ['Action', 'Drama', 'Thriller'], ['Family', 'Animation', 'Comedy', 'Fantasy'], ['Science Fiction', 'Action', 'Thriller', 'Adventure'], ['Action', 'Adventure', 'Science Fiction'], ['Fantasy', 'Comedy', 'Animation', 'Science Fiction', 'Family'], ['Adventure', 'Animation', 'Family'], ['Action', 'Adventure', 'Science Fiction', 'Fantasy'], ['Action', 'Adventure', 'Science Fiction', 'Thriller'], ['Action', 'Thriller'], ['Action', 'Adventure', 'Science Fiction'], ['Family', 'Animation', 'Adventure', 'Comedy'], ['Animation', 'Family', 'Adventure', 'Drama', 'Comedy'], ['Action', 'Adventure'], ['Action', 'Adventure', 'Science Fiction'], ['Drama', 'Adventure', 'Science Fiction'], ['Drama', 'Romance', 'Thriller'], ['Romance', 'Fantasy', 'Family', 'Drama'], ['Western', 'Drama', 'Adventure'], ['Science Fiction', 'Action', 'Adventure'], ['Action', 'Drama', 'Thriller'], ['Family', 'Animation', 'Comedy', 'Fantasy'], ['Science Fiction', 'Action', 'Thriller', 'Adventure'], ['Action', 'Adventure', 'Science Fiction'], ['Fantasy', 'Comedy', 'Animation', 'Science Fiction', 'Family'], ['Adventure', 'Animation', 'Family'], ['Action', 'Adventure', 'Science Fiction', 'Fantasy'], ['Action', 'Adventure', 'Science Fiction', 'Thriller'], ['Action', 'Thriller'], ['Action', 'Adventure', 'Science Fiction'], ['Family', 'Animation', 'Adventure', 'Comedy'], ['Action', 'Adventure', 'Thriller'], ['Animation', 'Family', 'Adventure', 'Drama', 'Comedy'], ['Action', 'Adventure'], ['Action', 'Adventure', 'Science Fiction'], ['Drama', 'Adventure', 'Science Fiction'], ['Drama', 'Romance', 'Thriller'], ['Romance', 'Fantasy', 'Family', 'Drama'], ['Western', 'Drama', 'Adventure'], ['Science Fiction', 'Action', 'Adventure'], ['Action', 'Drama', 'Thriller'], ['Family', 'Animation', 'Comedy', 'Fantasy'], ['Science Fiction', 'Action', 'Thriller', 'Adventure'], ['Action', 'Adventure', 'Science Fiction'], ['Fantasy', 'Comedy', 'Animation', 'Science Fiction', 'Family'], ['Adventure', 'Animation', 'Family']]

## Official Movie Database (OMDb):

In [20]:
# Define lists for results
omdb_titles = []
dom_box_office = []
imdb_rating = []
rotten_tomatoes = []
metacritic_rating = []
omdb_awards = []

In [21]:
# Iterate through movie title list to get results from OMDb
# movie = index
for movie in range(len(movie_title)):
    
    # Define OMDb url
    omdb_url = f"http://www.omdbapi.com/?apikey={api_key_2}&t={movie_title[movie]}"

    # Get json response for the query
    omdb_response = requests.get(omdb_url).json()
    
    try:
        # Get results and put them in variables
        titles = omdb_response["Title"]
        box_office = omdb_response["BoxOffice"]
        imdb = omdb_response["imdbRating"]
        r_tom = omdb_response["Ratings"][1]["Value"]
        metacritic = omdb_response["Metascore"]
        awards = omdb_response["Awards"]
    
        # Append results to lists
        omdb_titles.append(titles)
        dom_box_office.append(box_office)
        imdb_rating.append(imdb)
        rotten_tomatoes.append(r_tom)
        metacritic_rating.append(metacritic)
        omdb_awards.append(awards)
        
    except IndexError:
        print(f"A result does not exist for {movie}.")
        
    except KeyError:
        print(f"A result does not exist for {movie}.")

A result does not exist for 0.
A result does not exist for 33.
A result does not exist for 40.
A result does not exist for 85.
A result does not exist for 92.

In [22]:
print(len(movie_title))
print(len(movie_id))
print(len(release_date))
print(len(tmdb_vote_count))
print(len(tmdb_vote_average))
print(len(tmdb_budget))
print(len(tmdb_revenue))
print(len(genres))
print(len(genres_id))
print(len(production_companies))

99
99
99
99
99
99
99
99
99
99

In [46]:
# Create initial DataFrame
tmdb_df_rough = pd.DataFrame({
    "Title": movie_title,
    "ID": movie_id,
    "Release Date": release_date,
    "TMDb Score": tmdb_vote_average,
    "TMDb Vote Count": tmdb_vote_count,
    "Revenue": tmdb_revenue,
    "Budget": tmdb_budget,
    "Genres": genres,
    "Genres ID": genres_id,
    "Production Companies": production_companies
})

tmdb_df_rough

,Title,ID,Release Date,TMDb Score,TMDb Vote Count,Revenue,Budget,Genres,Genres ID,Production Companies
0,Star Wars: The Force Awakens,140607,2015-12-15,7.4,15719,2068223624,245000000,"[Action, Adventure, Science Fiction, Fantasy]","[28, 12, 878, 14]","[Lucasfilm Ltd., Bad Robot]"
1,Jurassic World,135397,2015-06-06,6.7,16731,1671713208,150000000,"[Action, Adventure, Science Fiction, Thriller]","[28, 12, 878, 53]","[Amblin Entertainment, Legendary Pictures, Uni..."
2,Furious 7,168259,2015-04-01,7.3,8275,1515047671,190000000,"[Action, Thriller]","[28, 53]","[Abu Dhabi Film Commission, Universal Pictures..."
3,Avengers: Age of Ultron,99861,2015-04-22,7.3,17763,1405403694,250000000,"[Action, Adventure, Science Fiction]","[28, 12, 878]",[Marvel Studios]
4,Minions,211672,2015-06-17,6.4,8643,1156730962,74000000,"[Family, Animation, Adventure, Comedy]","[10751, 16, 12, 35]","[Illumination Entertainment, Universal Pictures]"
...,...,...,...,...,...,...,...,...,...,...
94,It Chapter Two,474350,2019-09-04,6.9,5866,473226958,80000000,"[Family, Animation, Comedy, Fantasy]","[10751, 16, 35, 14]","[Sony Pictures, Columbia Pictures, Sony Pictur..."
95,Pokémon Detective Pikachu,447404,2019-05-03,7.0,4835,440603537,155000000,"[Science Fiction, Action, Thriller, Adventure]","[878, 28, 53, 12]","[Skydance Media, Paramount]"
96,Alita: Battle Angel,399579,2019-01-31,7.2,6491,378858340,150000000,"[Action, Adventure, Science Fiction]","[28, 12, 878]","[Kennedy Miller Productions, Warner Bros. Pict..."
97,Godzilla: King of the Monsters,373571,2019-05-29,6.7,4026,368871007,135000000,"[Fantasy, Comedy, Animation, Science Fiction, ...","[14, 35, 16, 878, 10751]",[DreamWorks Animation]
98,1917,530915,2019-12-25,7.9,8025,332207671,175000000,"[Adventure, Animation, Family]","[12, 16, 10751]",[Pixar]

In [47]:
# Convert release date to datetime -- to extract month and year
tmdb_df_rough["Release Date"] = pd.to_datetime(tmdb_df_rough["Release Date"])
tmdb_df_rough["Release Year"], tmdb_df_rough["Release Month"] = tmdb_df_rough["Release Date"].dt.year, tmdb_df_rough["Release Date"].dt.month

tmdb_df_rough

,Title,ID,Release Date,TMDb Score,TMDb Vote Count,Revenue,Budget,Genres,Genres ID,Production Companies,Release Year,Release Month
0,Star Wars: The Force Awakens,140607,2015-12-15,7.4,15719,2068223624,245000000,"[Action, Adventure, Science Fiction, Fantasy]","[28, 12, 878, 14]","[Lucasfilm Ltd., Bad Robot]",2015,12
1,Jurassic World,135397,2015-06-06,6.7,16731,1671713208,150000000,"[Action, Adventure, Science Fiction, Thriller]","[28, 12, 878, 53]","[Amblin Entertainment, Legendary Pictures, Uni...",2015,6
2,Furious 7,168259,2015-04-01,7.3,8275,1515047671,190000000,"[Action, Thriller]","[28, 53]","[Abu Dhabi Film Commission, Universal Pictures...",2015,4
3,Avengers: Age of Ultron,99861,2015-04-22,7.3,17763,1405403694,250000000,"[Action, Adventure, Science Fiction]","[28, 12, 878]",[Marvel Studios],2015,4
4,Minions,211672,2015-06-17,6.4,8643,1156730962,74000000,"[Family, Animation, Adventure, Comedy]","[10751, 16, 12, 35]","[Illumination Entertainment, Universal Pictures]",2015,6
...,...,...,...,...,...,...,...,...,...,...,...,...
94,It Chapter Two,474350,2019-09-04,6.9,5866,473226958,80000000,"[Family, Animation, Comedy, Fantasy]","[10751, 16, 35, 14]","[Sony Pictures, Columbia Pictures, Sony Pictur...",2019,9
95,Pokémon Detective Pikachu,447404,2019-05-03,7.0,4835,440603537,155000000,"[Science Fiction, Action, Thriller, Adventure]","[878, 28, 53, 12]","[Skydance Media, Paramount]",2019,5
96,Alita: Battle Angel,399579,2019-01-31,7.2,6491,378858340,150000000,"[Action, Adventure, Science Fiction]","[28, 12, 878]","[Kennedy Miller Productions, Warner Bros. Pict...",2019,1
97,Godzilla: King of the Monsters,373571,2019-05-29,6.7,4026,368871007,135000000,"[Fantasy, Comedy, Animation, Science Fiction, ...","[14, 35, 16, 878, 10751]",[DreamWorks Animation],2019,5
98,1917,530915,2019-12-25,7.9,8025,332207671,175000000,"[Adventure, Animation, Family]","[12, 16, 10751]",[Pixar],2019,12

In [48]:
# Split up Genres
tmdb_df_rough[["Genre_1", "Genre_2", "Genre_3", "Genre_4", "Genre_5"]] = pd.DataFrame(tmdb_df_rough["Genres"].to_list(), index = tmdb_df_rough.index)

tmdb_df_rough

,Title,ID,Release Date,TMDb Score,TMDb Vote Count,Revenue,Budget,Genres,Genres ID,Production Companies,Release Year,Release Month,Genre_1,Genre_2,Genre_3,Genre_4,Genre_5
0,Star Wars: The Force Awakens,140607,2015-12-15,7.4,15719,2068223624,245000000,"[Action, Adventure, Science Fiction, Fantasy]","[28, 12, 878, 14]","[Lucasfilm Ltd., Bad Robot]",2015,12,Action,Adventure,Science Fiction,Fantasy,None
1,Jurassic World,135397,2015-06-06,6.7,16731,1671713208,150000000,"[Action, Adventure, Science Fiction, Thriller]","[28, 12, 878, 53]","[Amblin Entertainment, Legendary Pictures, Uni...",2015,6,Action,Adventure,Science Fiction,Thriller,None
2,Furious 7,168259,2015-04-01,7.3,8275,1515047671,190000000,"[Action, Thriller]","[28, 53]","[Abu Dhabi Film Commission, Universal Pictures...",2015,4,Action,Thriller,None,None,None
3,Avengers: Age of Ultron,99861,2015-04-22,7.3,17763,1405403694,250000000,"[Action, Adventure, Science Fiction]","[28, 12, 878]",[Marvel Studios],2015,4,Action,Adventure,Science Fiction,None,None
4,Minions,211672,2015-06-17,6.4,8643,1156730962,74000000,"[Family, Animation, Adventure, Comedy]","[10751, 16, 12, 35]","[Illumination Entertainment, Universal Pictures]",2015,6,Family,Animation,Adventure,Comedy,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,It Chapter Two,474350,2019-09-04,6.9,5866,473226958,80000000,"[Family, Animation, Comedy, Fantasy]","[10751, 16, 35, 14]","[Sony Pictures, Columbia Pictures, Sony Pictur...",2019,9,Family,Animation,Comedy,Fantasy,None
95,Pokémon Detective Pikachu,447404,2019-05-03,7.0,4835,440603537,155000000,"[Science Fiction, Action, Thriller, Adventure]","[878, 28, 53, 12]","[Skydance Media, Paramount]",2019,5,Science Fiction,Action,Thriller,Adventure,None
96,Alita: Battle Angel,399579,2019-01-31,7.2,6491,378858340,150000000,"[Action, Adventure, Science Fiction]","[28, 12, 878]","[Kennedy Miller Productions, Warner Bros. Pict...",2019,1,Action,Adventure,Science Fiction,None,None
97,Godzilla: King of the Monsters,373571,2019-05-29,6.7,4026,368871007,135000000,"[Fantasy, Comedy, Animation, Science Fiction, ...","[14, 35, 16, 878, 10751]",[DreamWorks Animation],2019,5,Fantasy,Comedy,Animation,Science Fiction,Family
98,1917,530915,2019-12-25,7.9,8025,332207671,175000000,"[Adventure, Animation, Family]","[12, 16, 10751]",[Pixar],2019,12,Adventure,Animation,Family,None,None

In [25]:
# Create initial DataFrame
omdb_df_rough = pd.DataFrame({
    "Title": omdb_titles,
    "Box Office": dom_box_office,
    "IMDb": imdb_rating,
    "Rotten Tomatoes": rotten_tomatoes,
    "Metascore": metacritic_rating,
    "Awards": omdb_awards
})
omdb_df_rough

,Title,Box Office,IMDb,Rotten Tomatoes,Metascore,Awards
0,Jurassic World,"$652,385,625",7.0,70%,59,15 wins & 58 nominations.
1,Furious 7,"$353,007,020",7.1,82%,67,Nominated for 1 Golden Globe. Another 35 wins ...
2,Avengers: Age of Ultron,"$459,005,868",7.3,75%,66,8 wins & 49 nominations.
3,Minions,"$336,045,770",6.4,55%,56,Nominated for 1 BAFTA Film Award. Another 4 wi...
4,Spectre,"$200,074,609",6.8,63%,60,Won 1 Oscar. Another 7 wins & 36 nominations.
...,...,...,...,...,...,...
89,It Chapter Two,"$211,593,228",6.5,62%,58,5 wins & 30 nominations.
90,Pokémon Detective Pikachu,"$144,105,346",6.6,67%,53,9 nominations.
91,Alita: Battle Angel,"$85,838,210",7.3,61%,53,10 wins & 24 nominations.
92,Godzilla: King of the Monsters,"$110,500,138",6.0,42%,48,6 wins & 14 nominations.
93,1917,"$159,227,644",8.3,89%,78,Won 3 Oscars. Another 128 wins & 200 nominations.

In [26]:
# Export rough csv's to Output Files folder: (needs to be cleaned up next) and merged
tmdb_df_rough.to_csv("Output_Files/TMDb_rough.csv")
omdb_df_rough.to_csv("Output_Files/OMDb_rough.csv")