In [3]:
import os 
import pandas as pd
from pandas import DataFrame,Series

In [4]:
OMDb=pd.read_csv('OMDb_rough.csv')
TMDb=pd.read_csv('TMDb_rough.csv')

In [5]:
print(OMDb)
print(TMDb)

    Unnamed: 0                           Title    Box Office  IMDb  \
0            0                  Jurassic World  $652,385,625   7.0
1            1                       Furious 7  $353,007,020   7.1
2            2         Avengers: Age of Ultron  $459,005,868   7.3
3            3                         Minions  $336,045,770   6.4
4            4                         Spectre  $200,074,609   6.8
..         ...                             ...           ...   ...
89          89                  It Chapter Two  $211,593,228   6.5
90          90       Pokémon Detective Pikachu  $144,105,346   6.6
91          91             Alita: Battle Angel   $85,838,210   7.3
92          92  Godzilla: King of the Monsters  $110,500,138   6.0
93          93                            1917  $159,227,644   8.3

   Rotten Tomatoes  Metascore  \
0              70%       59.0
1              82%       67.0
2              75%       66.0
3              55%       56.0
4              63%       60.0
..             ...        ...
89             62%       58.0
90             67%       53.0
91             61%       53.0
92             42%       48.0
93             89%       78.0

                                               Awards
0                           15 wins & 58 nominations.
1   Nominated for 1 Golden Globe. Another 35 wins ...
2                            8 wins & 49 nominations.
3   Nominated for 1 BAFTA Film Award. Another 4 wi...
4       Won 1 Oscar. Another 7 wins & 36 nominations.
..                                                ...
89                           5 wins & 30 nominations.
90                                     9 nominations.
91                          10 wins & 24 nominations.
92                           6 wins & 14 nominations.
93  Won 3 Oscars. Another 128 wins & 200 nominations.

[94 rows x 7 columns]
    Unnamed: 0                           Title      ID Release Date  \
0            0    Star Wars: The Force Awakens  140607     12/15/15
1            1                  Jurassic World  135397       6/6/15
2            2                       Furious 7  168259       4/1/15
3            3         Avengers: Age of Ultron   99861      4/22/15
4            4                         Minions  211672      6/17/15
..         ...                             ...     ...          ...
94          94                  It Chapter Two  474350       9/4/19
95          95       Pokémon Detective Pikachu  447404       5/3/19
96          96             Alita: Battle Angel  399579      1/31/19
97          97  Godzilla: King of the Monsters  373571      5/29/19
98          98                            1917  530915     12/25/19

    TMDb Score  TMDb Vote Count     Revenue     Budget  \
0          7.4            15719  2068223624  245000000
1          6.7            16731  1671713208  150000000
2          7.3             8275  1515047671  190000000
3          7.3            17763  1405403694  250000000
4          6.4             8643  1156730962   74000000
..         ...              ...         ...        ...
94         6.9             5866   473226958   80000000
95         7.0             4835   440603537  155000000
96         7.2             6491   378858340  150000000
97         6.7             4026   368871007  135000000
98         7.9             8025   332207671  175000000

                                               Genres  \
0   ['Action', 'Adventure', 'Science Fiction', 'Fa...
1   ['Action', 'Adventure', 'Science Fiction', 'Th...
2                              ['Action', 'Thriller']
3          ['Action', 'Adventure', 'Science Fiction']
4      ['Family', 'Animation', 'Adventure', 'Comedy']
..                                                ...
94       ['Family', 'Animation', 'Comedy', 'Fantasy']
95  ['Science Fiction', 'Action', 'Thriller', 'Adv...
96         ['Action', 'Adventure', 'Science Fiction']
97  ['Fantasy', 'Comedy', 'Animation', 'Science Fi...
98               ['Adventure', 'Animation', 'Family']

                   Genres ID  \
0          [28, 12, 878, 14]
1          [28, 12, 878, 53]
2                   [28, 53]
3              [28, 12, 878]
4        [10751, 16, 12, 35]
..                       ...
94       [10751, 16, 35, 14]
95         [878, 28, 53, 12]
96             [28, 12, 878]
97  [14, 35, 16, 878, 10751]
98           [12, 16, 10751]

                                 Production Companies  Release Year  \
0                     ['Lucasfilm Ltd.', 'Bad Robot']          2015
1   ['Amblin Entertainment', 'Legendary Pictures',...          2015
2   ['Abu Dhabi Film Commission', 'Universal Pictu...          2015
3                                  ['Marvel Studios']          2015
4   ['Illumination Entertainment', 'Universal Pict...          2015
..                                                ...           ...
94  ['Sony Pictures', 'Columbia Pictures', 'Sony P...          2019
95                    ['Skydance Media', 'Paramount']          2019
96  ['Kennedy Miller Productions', 'Warner Bros. P...          2019
97                           ['DreamWorks Animation']          2019
98                                          ['Pixar']          2019

    Release Month          Genre_1    Genre_2          Genre_3  \
0              12           Action  Adventure  Science Fiction
1               6           Action  Adventure  Science Fiction
2               4           Action   Thriller              NaN
3               4           Action  Adventure  Science Fiction
4               6           Family  Animation        Adventure
..            ...              ...        ...              ...
94              9           Family  Animation           Comedy
95              5  Science Fiction     Action         Thriller
96              1           Action  Adventure  Science Fiction
97              5          Fantasy     Comedy        Animation
98             12        Adventure  Animation           Family

            Genre_4 Genre_5
0           Fantasy     NaN
1          Thriller     NaN
2               NaN     NaN
3               NaN     NaN
4            Comedy     NaN
..              ...     ...
94          Fantasy     NaN
95        Adventure     NaN
96              NaN     NaN
97  Science Fiction  Family
98              NaN     NaN

[99 rows x 18 columns]

In [6]:
revenue_df=pd.merge(OMDb,TMDb,on='Title')

genre_df=pd.merge(OMDb,TMDb,on='Title')
ratings_df=pd.merge(OMDb,TMDb,on='Title')

In [7]:
genre_df=pd.merge(OMDb,TMDb,on='Title')
ratings_df=pd.merge(OMDb,TMDb,on='Title')


print(genre_df)

    Unnamed: 0_x                           Title    Box Office  IMDb  \
0              0                  Jurassic World  $652,385,625   7.0
1              1                       Furious 7  $353,007,020   7.1
2              2         Avengers: Age of Ultron  $459,005,868   7.3
3              3                         Minions  $336,045,770   6.4
4              4                         Spectre  $200,074,609   6.8
..           ...                             ...           ...   ...
88            89                  It Chapter Two  $211,593,228   6.5
89            90       Pokémon Detective Pikachu  $144,105,346   6.6
90            91             Alita: Battle Angel   $85,838,210   7.3
91            92  Godzilla: King of the Monsters  $110,500,138   6.0
92            93                            1917  $159,227,644   8.3

   Rotten Tomatoes  Metascore  \
0              70%       59.0
1              82%       67.0
2              75%       66.0
3              55%       56.0
4              63%       60.0
..             ...        ...
88             62%       58.0
89             67%       53.0
90             61%       53.0
91             42%       48.0
92             89%       78.0

                                               Awards  Unnamed: 0_y      ID  \
0                           15 wins & 58 nominations.             1  135397
1   Nominated for 1 Golden Globe. Another 35 wins ...             2  168259
2                            8 wins & 49 nominations.             3   99861
3   Nominated for 1 BAFTA Film Award. Another 4 wi...             4  211672
4       Won 1 Oscar. Another 7 wins & 36 nominations.             5  206647
..                                                ...           ...     ...
88                           5 wins & 30 nominations.            94  474350
89                                     9 nominations.            95  447404
90                          10 wins & 24 nominations.            96  399579
91                           6 wins & 14 nominations.            97  373571
92  Won 3 Oscars. Another 128 wins & 200 nominations.            98  530915

   Release Date  ...                                             Genres  \
0        6/6/15  ...  ['Action', 'Adventure', 'Science Fiction', 'Th...
1        4/1/15  ...                             ['Action', 'Thriller']
2       4/22/15  ...         ['Action', 'Adventure', 'Science Fiction']
3       6/17/15  ...     ['Family', 'Animation', 'Adventure', 'Comedy']
4      10/26/15  ...                ['Action', 'Adventure', 'Thriller']
..          ...  ...                                                ...
88       9/4/19  ...       ['Family', 'Animation', 'Comedy', 'Fantasy']
89       5/3/19  ...  ['Science Fiction', 'Action', 'Thriller', 'Adv...
90      1/31/19  ...         ['Action', 'Adventure', 'Science Fiction']
91      5/29/19  ...  ['Fantasy', 'Comedy', 'Animation', 'Science Fi...
92     12/25/19  ...               ['Adventure', 'Animation', 'Family']

                   Genres ID  \
0          [28, 12, 878, 53]
1                   [28, 53]
2              [28, 12, 878]
3        [10751, 16, 12, 35]
4               [28, 12, 53]
..                       ...
88       [10751, 16, 35, 14]
89         [878, 28, 53, 12]
90             [28, 12, 878]
91  [14, 35, 16, 878, 10751]
92           [12, 16, 10751]

                                 Production Companies  Release Year  \
0   ['Amblin Entertainment', 'Legendary Pictures',...          2015
1   ['Abu Dhabi Film Commission', 'Universal Pictu...          2015
2                                  ['Marvel Studios']          2015
3   ['Illumination Entertainment', 'Universal Pict...          2015
4   ['Danjaq', 'B24', 'Columbia Pictures', 'Metro-...          2015
..                                                ...           ...
88  ['Sony Pictures', 'Columbia Pictures', 'Sony P...          2019
89                    ['Skydance Media', 'Paramount']          2019
90  ['Kennedy Miller Productions', 'Warner Bros. P...          2019
91                           ['DreamWorks Animation']          2019
92                                          ['Pixar']          2019

   Release Month          Genre_1    Genre_2          Genre_3  \
0              6           Action  Adventure  Science Fiction
1              4           Action   Thriller              NaN
2              4           Action  Adventure  Science Fiction
3              6           Family  Animation        Adventure
4             10           Action  Adventure         Thriller
..           ...              ...        ...              ...
88             9           Family  Animation           Comedy
89             5  Science Fiction     Action         Thriller
90             1           Action  Adventure  Science Fiction
91             5          Fantasy     Comedy        Animation
92            12        Adventure  Animation           Family

            Genre_4 Genre_5
0          Thriller     NaN
1               NaN     NaN
2               NaN     NaN
3            Comedy     NaN
4               NaN     NaN
..              ...     ...
88          Fantasy     NaN
89        Adventure     NaN
90              NaN     NaN
91  Science Fiction  Family
92              NaN     NaN

[93 rows x 24 columns]

In [8]:
print(ratings_df)

    Unnamed: 0_x                           Title    Box Office  IMDb  \
0              0                  Jurassic World  $652,385,625   7.0
1              1                       Furious 7  $353,007,020   7.1
2              2         Avengers: Age of Ultron  $459,005,868   7.3
3              3                         Minions  $336,045,770   6.4
4              4                         Spectre  $200,074,609   6.8
..           ...                             ...           ...   ...
88            89                  It Chapter Two  $211,593,228   6.5
89            90       Pokémon Detective Pikachu  $144,105,346   6.6
90            91             Alita: Battle Angel   $85,838,210   7.3
91            92  Godzilla: King of the Monsters  $110,500,138   6.0
92            93                            1917  $159,227,644   8.3

   Rotten Tomatoes  Metascore  \
0              70%       59.0
1              82%       67.0
2              75%       66.0
3              55%       56.0
4              63%       60.0
..             ...        ...
88             62%       58.0
89             67%       53.0
90             61%       53.0
91             42%       48.0
92             89%       78.0

                                               Awards  Unnamed: 0_y      ID  \
0                           15 wins & 58 nominations.             1  135397
1   Nominated for 1 Golden Globe. Another 35 wins ...             2  168259
2                            8 wins & 49 nominations.             3   99861
3   Nominated for 1 BAFTA Film Award. Another 4 wi...             4  211672
4       Won 1 Oscar. Another 7 wins & 36 nominations.             5  206647
..                                                ...           ...     ...
88                           5 wins & 30 nominations.            94  474350
89                                     9 nominations.            95  447404
90                          10 wins & 24 nominations.            96  399579
91                           6 wins & 14 nominations.            97  373571
92  Won 3 Oscars. Another 128 wins & 200 nominations.            98  530915

   Release Date  ...                                             Genres  \
0        6/6/15  ...  ['Action', 'Adventure', 'Science Fiction', 'Th...
1        4/1/15  ...                             ['Action', 'Thriller']
2       4/22/15  ...         ['Action', 'Adventure', 'Science Fiction']
3       6/17/15  ...     ['Family', 'Animation', 'Adventure', 'Comedy']
4      10/26/15  ...                ['Action', 'Adventure', 'Thriller']
..          ...  ...                                                ...
88       9/4/19  ...       ['Family', 'Animation', 'Comedy', 'Fantasy']
89       5/3/19  ...  ['Science Fiction', 'Action', 'Thriller', 'Adv...
90      1/31/19  ...         ['Action', 'Adventure', 'Science Fiction']
91      5/29/19  ...  ['Fantasy', 'Comedy', 'Animation', 'Science Fi...
92     12/25/19  ...               ['Adventure', 'Animation', 'Family']

                   Genres ID  \
0          [28, 12, 878, 53]
1                   [28, 53]
2              [28, 12, 878]
3        [10751, 16, 12, 35]
4               [28, 12, 53]
..                       ...
88       [10751, 16, 35, 14]
89         [878, 28, 53, 12]
90             [28, 12, 878]
91  [14, 35, 16, 878, 10751]
92           [12, 16, 10751]

                                 Production Companies  Release Year  \
0   ['Amblin Entertainment', 'Legendary Pictures',...          2015
1   ['Abu Dhabi Film Commission', 'Universal Pictu...          2015
2                                  ['Marvel Studios']          2015
3   ['Illumination Entertainment', 'Universal Pict...          2015
4   ['Danjaq', 'B24', 'Columbia Pictures', 'Metro-...          2015
..                                                ...           ...
88  ['Sony Pictures', 'Columbia Pictures', 'Sony P...          2019
89                    ['Skydance Media', 'Paramount']          2019
90  ['Kennedy Miller Productions', 'Warner Bros. P...          2019
91                           ['DreamWorks Animation']          2019
92                                          ['Pixar']          2019

   Release Month          Genre_1    Genre_2          Genre_3  \
0              6           Action  Adventure  Science Fiction
1              4           Action   Thriller              NaN
2              4           Action  Adventure  Science Fiction
3              6           Family  Animation        Adventure
4             10           Action  Adventure         Thriller
..           ...              ...        ...              ...
88             9           Family  Animation           Comedy
89             5  Science Fiction     Action         Thriller
90             1           Action  Adventure  Science Fiction
91             5          Fantasy     Comedy        Animation
92            12        Adventure  Animation           Family

            Genre_4 Genre_5
0          Thriller     NaN
1               NaN     NaN
2               NaN     NaN
3            Comedy     NaN
4               NaN     NaN
..              ...     ...
88          Fantasy     NaN
89        Adventure     NaN
90              NaN     NaN
91  Science Fiction  Family
92              NaN     NaN

[93 rows x 24 columns]

In [9]:
print(ratings_df[['Title','TMDb Score','IMDb','Rotten Tomatoes','Metascore','Awards']])

                             Title  TMDb Score  IMDb Rotten Tomatoes  \
0                   Jurassic World         6.7   7.0             70%
1                        Furious 7         7.3   7.1             82%
2          Avengers: Age of Ultron         7.3   7.3             75%
3                          Minions         6.4   6.4             55%
4                          Spectre         6.5   6.8             63%
..                             ...         ...   ...             ...
88                  It Chapter Two         6.9   6.5             62%
89       Pokémon Detective Pikachu         7.0   6.6             67%
90             Alita: Battle Angel         7.2   7.3             61%
91  Godzilla: King of the Monsters         6.7   6.0             42%
92                            1917         7.9   8.3             89%

    Metascore                                             Awards
0        59.0                          15 wins & 58 nominations.
1        67.0  Nominated for 1 Golden Globe. Another 35 wins ...
2        66.0                           8 wins & 49 nominations.
3        56.0  Nominated for 1 BAFTA Film Award. Another 4 wi...
4        60.0      Won 1 Oscar. Another 7 wins & 36 nominations.
..        ...                                                ...
88       58.0                           5 wins & 30 nominations.
89       53.0                                     9 nominations.
90       53.0                          10 wins & 24 nominations.
91       48.0                           6 wins & 14 nominations.
92       78.0  Won 3 Oscars. Another 128 wins & 200 nominations.

[93 rows x 6 columns]

In [10]:
ratings_df=(ratings_df[['Title','TMDb Score','IMDb','Rotten Tomatoes','Metascore','Awards']]) 
#only selceting the column we wanted

In [11]:
print(ratings_df)

                             Title  TMDb Score  IMDb Rotten Tomatoes  \
0                   Jurassic World         6.7   7.0             70%
1                        Furious 7         7.3   7.1             82%
2          Avengers: Age of Ultron         7.3   7.3             75%
3                          Minions         6.4   6.4             55%
4                          Spectre         6.5   6.8             63%
..                             ...         ...   ...             ...
88                  It Chapter Two         6.9   6.5             62%
89       Pokémon Detective Pikachu         7.0   6.6             67%
90             Alita: Battle Angel         7.2   7.3             61%
91  Godzilla: King of the Monsters         6.7   6.0             42%
92                            1917         7.9   8.3             89%

    Metascore                                             Awards
0        59.0                          15 wins & 58 nominations.
1        67.0  Nominated for 1 Golden Globe. Another 35 wins ...
2        66.0                           8 wins & 49 nominations.
3        56.0  Nominated for 1 BAFTA Film Award. Another 4 wi...
4        60.0      Won 1 Oscar. Another 7 wins & 36 nominations.
..        ...                                                ...
88       58.0                           5 wins & 30 nominations.
89       53.0                                     9 nominations.
90       53.0                          10 wins & 24 nominations.
91       48.0                           6 wins & 14 nominations.
92       78.0  Won 3 Oscars. Another 128 wins & 200 nominations.

[93 rows x 6 columns]

In [12]:
#ratings_df.rename(columns={'TMDb Score':'TMDb'})
ratings_df.columns = ['Title','TMDb','IMDb','Rotten Tomatoes','Metascore','Awards']
#renaming the column

In [13]:
print(ratings_df)

                             Title  TMDb  IMDb Rotten Tomatoes  Metascore  \
0                   Jurassic World   6.7   7.0             70%       59.0
1                        Furious 7   7.3   7.1             82%       67.0
2          Avengers: Age of Ultron   7.3   7.3             75%       66.0
3                          Minions   6.4   6.4             55%       56.0
4                          Spectre   6.5   6.8             63%       60.0
..                             ...   ...   ...             ...        ...
88                  It Chapter Two   6.9   6.5             62%       58.0
89       Pokémon Detective Pikachu   7.0   6.6             67%       53.0
90             Alita: Battle Angel   7.2   7.3             61%       53.0
91  Godzilla: King of the Monsters   6.7   6.0             42%       48.0
92                            1917   7.9   8.3             89%       78.0

                                               Awards
0                           15 wins & 58 nominations.
1   Nominated for 1 Golden Globe. Another 35 wins ...
2                            8 wins & 49 nominations.
3   Nominated for 1 BAFTA Film Award. Another 4 wi...
4       Won 1 Oscar. Another 7 wins & 36 nominations.
..                                                ...
88                           5 wins & 30 nominations.
89                                     9 nominations.
90                          10 wins & 24 nominations.
91                           6 wins & 14 nominations.
92  Won 3 Oscars. Another 128 wins & 200 nominations.

[93 rows x 6 columns]

In [14]:
genre_df=(genre_df[['Title', 'Genre_1', 'Genre_2', 'Genre_3', 'Genre_4', 'Genre_5', 'Revenue', 'Box Office', 'Budget', 'TMDb Score', 'IMDb', 'Rotten Tomatoes', 'Metascore', 'Awards', 'Release Year', 'Release Month']])

In [15]:
genre_df.columns = ['Title', 'Genre_1', 'Genre_2', 'Genre_3', 'Genre_4', 'Genre_5', 'Revenue', 'Box Office', 'Budget', 'TMDb Score', 'IMDb', 'Rotten Tomatoes', 'Metascore', 'Awards', 'Release Year', 'Release Month']

In [16]:
print(genre_df)

                             Title          Genre_1    Genre_2  \
0                   Jurassic World           Action  Adventure
1                        Furious 7           Action   Thriller
2          Avengers: Age of Ultron           Action  Adventure
3                          Minions           Family  Animation
4                          Spectre           Action  Adventure
..                             ...              ...        ...
88                  It Chapter Two           Family  Animation
89       Pokémon Detective Pikachu  Science Fiction     Action
90             Alita: Battle Angel           Action  Adventure
91  Godzilla: King of the Monsters          Fantasy     Comedy
92                            1917        Adventure  Animation

            Genre_3          Genre_4 Genre_5     Revenue    Box Office  \
0   Science Fiction         Thriller     NaN  1671713208  $652,385,625
1               NaN              NaN     NaN  1515047671  $353,007,020
2   Science Fiction              NaN     NaN  1405403694  $459,005,868
3         Adventure           Comedy     NaN  1156730962  $336,045,770
4          Thriller              NaN     NaN   880674609  $200,074,609
..              ...              ...     ...         ...           ...
88           Comedy          Fantasy     NaN   473226958  $211,593,228
89         Thriller        Adventure     NaN   440603537  $144,105,346
90  Science Fiction              NaN     NaN   378858340   $85,838,210
91        Animation  Science Fiction  Family   368871007  $110,500,138
92           Family              NaN     NaN   332207671  $159,227,644

       Budget  TMDb Score  IMDb Rotten Tomatoes  Metascore  \
0   150000000         6.7   7.0             70%       59.0
1   190000000         7.3   7.1             82%       67.0
2   250000000         7.3   7.3             75%       66.0
3    74000000         6.4   6.4             55%       56.0
4   245000000         6.5   6.8             63%       60.0
..        ...         ...   ...             ...        ...
88   80000000         6.9   6.5             62%       58.0
89  155000000         7.0   6.6             67%       53.0
90  150000000         7.2   7.3             61%       53.0
91  135000000         6.7   6.0             42%       48.0
92  175000000         7.9   8.3             89%       78.0

                                               Awards  Release Year  \
0                           15 wins & 58 nominations.          2015
1   Nominated for 1 Golden Globe. Another 35 wins ...          2015
2                            8 wins & 49 nominations.          2015
3   Nominated for 1 BAFTA Film Award. Another 4 wi...          2015
4       Won 1 Oscar. Another 7 wins & 36 nominations.          2015
..                                                ...           ...
88                           5 wins & 30 nominations.          2019
89                                     9 nominations.          2019
90                          10 wins & 24 nominations.          2019
91                           6 wins & 14 nominations.          2019
92  Won 3 Oscars. Another 128 wins & 200 nominations.          2019

    Release Month
0               6
1               4
2               4
3               6
4              10
..            ...
88              9
89              5
90              1
91              5
92             12

[93 rows x 16 columns]

In [17]:
 revenue_df=(revenue_df[['Title', 'Revenue', 'Box Office', 'Budget', 'Release Year', 'Release Month']])

In [18]:
print(revenue_df)

                             Title     Revenue    Box Office     Budget  \
0                   Jurassic World  1671713208  $652,385,625  150000000
1                        Furious 7  1515047671  $353,007,020  190000000
2          Avengers: Age of Ultron  1405403694  $459,005,868  250000000
3                          Minions  1156730962  $336,045,770   74000000
4                          Spectre   880674609  $200,074,609  245000000
..                             ...         ...           ...        ...
88                  It Chapter Two   473226958  $211,593,228   80000000
89       Pokémon Detective Pikachu   440603537  $144,105,346  155000000
90             Alita: Battle Angel   378858340   $85,838,210  150000000
91  Godzilla: King of the Monsters   368871007  $110,500,138  135000000
92                            1917   332207671  $159,227,644  175000000

    Release Year  Release Month
0           2015              6
1           2015              4
2           2015              4
3           2015              6
4           2015             10
..           ...            ...
88          2019              9
89          2019              5
90          2019              1
91          2019              5
92          2019             12

[93 rows x 6 columns]

In [20]:
ratings_df.to_csv('ratings.csv') 
genre_df.to_csv('genre.csv') 
revenue_df.to_csv('revenue.csv')